<!--
<nav id='secondaryNav'>
  <%= link_to "Case Studies", '#', class: 'secondaryNavButton' %>
  <%= link_to "Clients",      '#', class: 'secondaryNavButton' %>
  <%= link_to "Partners",     '#', class: 'secondaryNavButton' %>
  <%= link_to "Training",     '#', class: 'secondaryNavButton' %>
  <%= link_to "Store",        '#', class: 'secondaryNavButton' %>
  <%= link_to "Professional Associations", '#', class: 'secondaryNavButton longText' %>
  <%= link_to "News &amp; Events",         '#', class: 'secondaryNavButton' %>
  <%= link_to "Advisicon Public Course Schedule", '#', class: 'secondaryNavButton highlightedNavButton' %>
  <%= link_to "Contact Us!",  '#', class: 'secondaryNavButton highlightedNavButton' %>
</nav>--><!-- END secondary nav -->
